:root{
    --primary-color: #4150de;
    --secondary-color: #36352b;
    --background-color: hsl(60, 1%, 90%);
    --light-color: hsl(60, 4%, 80%);
    --loader : collapse;
    --load : relative;
}

body{
    background-color: var(--background-color);
}

.my_btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1em;
    padding: 0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.my_btn:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}

.my_img{
   
    height: 28em;
    width: auto;
    display: var(--load);
    cursor: pointer;

}

.my_img:hover{
    opacity: 94%;
}

.my_center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.my_dv_btn{
    position:relative;

}

.my_loading{

    visibility: var(--loader);
}