:root{
    --primary-color: #4150de;
    --secondary-color: #36352b;
    --background-color: hsl(60, 2%, 90%);
    --complete-color: hsl(60, 4%, 82%);
    --loader : collapse;
    --load : relative;
}

body{
    background-color: var(--background-color);
}

.my_btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: 650;
    text-align: center;
    margin: 1em;
    padding: 0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.my_btn:hover{
    background-color: var(--complete-color);
    color: var(--primary-color);
}

.my_img{
   
    height: 28em;
    width: auto;
    display: var(--load);
    cursor: pointer;

}

.my_img:hover{
    opacity: 92%;
}

.my_center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.my_dv_btn{
    position:relative;

}

.my_loading{
    visibility: var(--loader);
}

#titre{
    padding: 8px;
    background-color: var(--complete-color);
    font-weight: 700;
    color: var(--secondary-color)
}

.interaction{
    display: flex;
    flex-direction: row;
    
}

#select1{
    font-size: 2em;
    width: fit-content;
    background-color: var(--complete-color);
    color: var(--secondary-color);
}

.text_titre{
    color: var(--secondary-color);
}
